/* Write your CSS here! */
h1 {
    text-align: center;
}
p {
    color: black;
}
article {
    max-width: 1000px;
    margin: 0 auto;
}
img {
    max-width: 1000px;
    max-width: 100%;
}
body {
    margin: 8px;
    display: block;
}
footer {
    text-align: center;
}